* {
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.nut {
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
}

.nut_do {
    background-color: #dc3545;
    color: #fff;
}

.nut_do:hover {
    background-color: #bb303e;
    color: #fff;
}

.nut_xanhduong {
    background-color: #0d6efd;
    color: #fff;
}

textarea:focus,
input:focus {
    outline: none;
}

.nut_xanhduong:hover {
    background-color: #0b5bd4;
    color: #fff;
}

.nut_xanhcay {
    background-color: #28a745;
    color: #fff;
}

.nut_xanhcay:hover {
    background-color: #21812f;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #000;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #345ad8;
    color: white;
}