body {
    background: no-repeat;
    background-image: url("../img/thangCuoc.png");
}

#nhanVat {
    text-align: center;
    margin-top: 400px;
}

input {
    text-indent: 10px;
}

img {
    width: 300px;
}

#name {
    font-size: 50px;
    color: aquamarine;
}

.btn {
    border: none;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 0px 30px;
    display: inline-block;
    margin: 30px 30px;
    line-height: 46px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 23px;
}


.btn:hover,
.btn.hover {
    background-color: darkturquoise;
    color: #ffffff;
}

#nutXuLy {
    margin-top: 10%;
    text-align: center;
}