body {
    background: no-repeat;
    background-image: url("../img/trangChu2.png");
}

#buttonNhanVat {
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}


#buttonNhanVat:hover {
    background-color: blueviolet;
    border-radius: 20px;
    border-width: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: goldenrod;
}

#avt {
    width: 100px;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    color: brown;
}

.modal {
    display: none;
    background-color: rgb(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#giaoDienTrangChu {
    display: flex;
    margin-left: 160px;
    justify-content: center
}

input {
    width: 300px;
    height: 40px;
    border-radius: 100px;
}

#vienAvt {
    padding: 50px;
    margin-top: 70px;
    border: 5px solid blueviolet;
    border-radius: 100px;
    border-style: groove;
    border-width: 20px;
    border-color: dodgerblue;
}

#menu {
    font-style: normal;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: aquamarine;
    border-color: black;
    transition-duration: 0.4s;
    font-size: 30px;
    border-radius: 70px;
}

#menu:hover {
    background-color: blueviolet;
    border-radius: 70px;
}

#trangChu {
    margin: 0 auto;
    text-align: center;
}

.dangTai {
    border: 10px solid rgb(103, 11, 189);
    border-radius: 50%;
    border-top: 10px solid rgb(163, 96, 226);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#nhanVat {
    text-align: center;
    margin-top: 400px;
    margin-left: 100px;
}

.modal-doiNguoiChoi {
    width: 600px;
    margin: auto;
    top: 30%;
    position: relative;
    background-color: rgb(163, 96, 226);
    border-radius: 30px;
}

#buttonTaoPhong {
    background-color: crimson;
    color: black;
    cursor: pointer;
    padding: 0px 30px;
    display: inline-block;
    line-height: 30px;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 23px;
    letter-spacing: 2px;
}

#buttonTaoPhong:hover {
    background-color: #4CAF50;
}

#buttonBatDau {
    border: none;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 0px 30px;
    display: inline-block;
    margin: 30px 30px;
    line-height: 46px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 23px;
}

input {
    text-indent: 10px;
}



#buttonBatDau:hover,
#buttonBatDau.hover {
    background-color: darkturquoise;
    color: #ffffff;
}