body {
    background-image: url("./imgs/bg.png");
}

input {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    margin: 15px auto;
    font-size: 16px;
    text-indent: 15px;
}

p {
    text-align: center;
    font-size: 16px;
    color: white;
}

#dangky {
    outline: 4px solid #000;
    outline-offset: 10px;
    border: 5px solid chocolate;
    border-radius: 80px;
    font-size: 25px;
    font-style: inherit;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    background-color: rgb(110, 11, 202);
    width: 500px;
}

a {
    font-size: 18px;
    color: rgb(216, 207, 76);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 238, 0);
    text-decoration: underline;
}

.nut_dangky {
    border: none;
    background-color: #b8bbbb;
    border-radius: 20px;
    color: #000000;
    cursor: pointer;
    padding: 0px 30px;
    display: block;
    margin: 15px auto;
    line-height: 46px;
    font-weight: 400;
    font-size: 18px;
}

.nut_dangky:hover {
    background-color: #7e8dca;
}